# Bot
BOT_TOKEN=
BOT_PARSE_MODE=HTML

# Database
DATABASE_URL=postgresql+asyncpg://jambot:password@localhost:5432/jambot
DATABASE_POOL_SIZE=20
DATABASE_ECHO=false

# Redis
REDIS_URL=redis://localhost:6379/0

# App
DEFAULT_TIMEZONE=Europe/Moscow
